.header {
  // max-width: 1400px;
  margin: auto;
  position: relative;
  &--menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    backdrop-filter: blur(5px);
    height: 100vh;
    width: 100%;
    z-index: 10;

    @include tablette {
      position: static;
      height: fit-content;
    }
  }
  &__top {
    position: relative;
    // background-color: red;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    // padding-left: 15px;

    @include laptop {
      padding: 10px 30px;
    }

    @media (min-width: 1300px) {
      margin-bottom: -50px;
      align-items: flex-start;
    }

    @include laptopL {
      padding: 10px 50px;
    }
  }
}

.logo-bb {
  display: flex;
  justify-content: center;
  z-index: 10;
  cursor: pointer;
  position: relative;
  right: 5px;

  @include tablette {
    right: 8px;
  }

  @include laptop {
    right: 10px;
  }

  @include laptopL {
    right: 12px;
  }

  & > img {
    width: 100px;

    @include mobileL {
      width: 140px;
    }
    @include tablette {
      width: 160px;
    }

    @include laptop {
      width: 180px;
    }

    @include laptopL {
      width: 220px;
    }
  }
}

.customer {
  display: flex;
  align-items: center;

  @media (min-width: 1300px) {
    margin-top: 30px;
  }

  &__account {
    width: 25px;
    height: 25px;
    padding: 0 10px;
    cursor: pointer;

    @include mobileL {
      width: 30px;
      height: 30px;
      padding: 0 12px;
    }
    @include tablette {
      width: 40px;
      height: 40px;
    }
    & > img {
      width: 100%;
      height: 100%;
      // color: rgba($color: #747474, $alpha: 1);
    }
  }

  &__shopping-cart {
    width: 25px;
    height: 25px;
    padding: 0 10px;
    cursor: pointer;
    position: relative;

    @include mobileL {
      width: 30px;
      height: 30px;
      padding: 0 12px;
    }
    @include tablette {
      width: 40px;
      height: 40px;
    }

    &__number-products-in-cart {
      background-color: pink;
      position: absolute;
      left: 20px;
      top: -7px;
      transform: translate(-50%, -50%);
      font-size: 10px;
      font-weight: bold;
      padding: 3px 7px;
      border-radius: 50%;

      @include mobileL {
        font-size: 14px;
        padding: 3px 8px;
        top: -10px;
        left: 24px;
      }

      @include tablette {
        font-size: 16px;
        padding: 4px 10px;
        top: -12px;
        left: 28px;
      }
    }

    & > img {
      width: 100%;
      height: 100%;
    }

    .modal-product-in-cart {
      background-color: white;
      position: absolute;
      left: auto;
      bottom: auto;
      right: 0;
      top: 25px;
      width: 310px;
      max-height: 500px;
      z-index: 10;
      overflow: auto;
      border: 2px solid black;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 0;

      @include mobileL {
        top: 30px;
      }

      @include tablette {
        top: 40px;
      }

      &__title {
        display: inline-block;
        text-transform: uppercase;
        font-weight: bold;
        margin-bottom: 20px;
      }

      &__products {
        align-self: flex-start;
        display: flex;
        flex-direction: column;
        width: 100%;

        &__product {
          display: flex;
          // justify-content: space-between;
          padding: 10px 0;
          & > img {
            width: 80px;
          }

          &__right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            margin-left: 20px;
            width: 100%;
            &__header {
              display: flex;
              justify-content: space-between;
              &__name {
                max-width: 120px;
                text-transform: uppercase;
                font-size: 14px;
              }

              &__price {
                font-size: 14px;
              }
            }

            & > span {
              font-size: 14px;
            }
          }
        }
      }

      &__summary {
        display: flex;
        flex-direction: column;
        position: sticky;
        bottom: 0;
        background-color: white;
        width: 100%;
        padding: 15px 0 20px;
        border-top: 2px solid black;

        &__prices {
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;

          & > div {
            margin-bottom: 5px;
          }

          & > div:last-of-type {
            font-weight: bold;
            margin-bottom: 0;
          }

          &__price {
            display: flex;
            justify-content: space-between;
          }
        }

        & > button {
          padding: 8px 0;
          text-transform: uppercase;
          border: 1px solid black;
          background-color: transparent;
          cursor: pointer;

          &:hover {
            border-color: rgba($color: #696969, $alpha: 1);
          }
        }
      }

      .empty-cart {
        display: flex;
        flex-direction: column;
        align-items: center;
        & > img {
          width: 100px;
        }
        & > span {
          padding: 20px;
        }
      }
    }

    .add-cart-msg {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      background-color: white;
      border-top: 1.5px solid black;
      padding: 20px;
      box-sizing: border-box;
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 10;

      &__add-msg {
        text-transform: uppercase;
        text-align: center;
        font-weight: bold;
        margin-bottom: 20px;
      }

      &__btn-container {
        width: 100%;
        max-width: 351px;
        display: flex;
        justify-content: space-between;

        & > button {
          width: 46%;
          background-color: transparent;
          border: 1px solid black;
          padding: 8px 20px;
          text-transform: uppercase;
          font-size: 13px;
          cursor: pointer;

          &:hover {
            border-color: rgba($color: #696969, $alpha: 1);
          }
        }
      }
    }
  }
}

// .menu-btn-container {
//   padding-left: 10px;
//   @include mobileL {
//     width: 64px;
//   }
//   @include tablette {
//     width: 105px;
//   }
// }

.menu-btn {
  background-color: inherit;
  border: none;
  padding: 0;
  height: 26px;
  width: 26px;
  padding-left: 10px;
  box-sizing: content-box;

  @include mobileL {
    height: 30px;
    width: 30px;
    padding-left: 12px;
  }

  @include tablette {
    display: none !important;
  }

  & > svg {
    width: 100%;
    height: 100%;
    color: black;
  }
}

.navbar {
  position: relative;
  display: none;
  padding: 20px 10px;
  font-family: "Handlee";

  @include mobileM {
    padding: 20px;
  }
  @include tablette {
    display: block !important;
    transform-origin: top;
    height: 50px;
    padding: 0;
    padding-bottom: 0;
  }

  @media (min-width: 1300px) {
    top: -64px;
  }

  @include laptopL {
    top: -75px;
  }
}

.categories {
  display: flex;
  flex-direction: column;

  @include tablette {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: inherit;
  }

  @media (min-width: 1300px) {
    max-width: 900px;
    margin: auto;
  }
}
.category {
  margin-bottom: 20px;
  cursor: pointer;
  z-index: 2;

  &:last-of-type {
    color: red;
  }

  @media (max-width: 767px) {
    border: none !important;
  }

  @include tablette {
    display: flex;
    align-items: center;
    height: 100%;
    text-align: center;
    margin: 0;
    box-sizing: border-box;

    &:hover > .subcategories {
    }
  }
  &__header {
    display: flex;
    align-items: center;
    width: fit-content;
    // margin-bottom: 10px;
    &__title {
      font-size: 16px;
      font-weight: bold;

      @include laptop {
        font-size: 18px;
      }
    }
    &__arrow {
      margin-left: 10px;
      font-size: 20px;

      @include tablette {
        display: none;
      }
    }
  }
}

.subcategories {
  display: none;
  // transform: scaleY(1);
  padding: 15px;
  padding-bottom: 0;
  color: black;
  font-family: "Trocchi";

  @include tablette {
    display: flex !important;
    // display: none;
    transform: scaleY(0);
    transition: transform 0.5s ease;
    transform-origin: top;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    background-color: rgba($color: #ffffff, $alpha: 0.8);
    backdrop-filter: blur(3px);
    z-index: 1;
    padding: 20px 40px;
    // padding-bottom: 0;
    text-align: left;
  }

  &__subcategory {
    font-size: 14px;
    position: relative;
    // min-width: 100px;

    @include tablette {
      align-self: flex-start;
      // max-height: 50px;
      columns: 2;
      column-gap: 100px;
    }
    @include laptop {
      font-size: 16px;
      column-gap: 150px;
    }

    & > span {
      word-wrap: break-word;
      min-width: 100%;

      @include tablette {
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -40%);
        width: 100vw;
        text-align: center;
      }
    }

    & > li {
      margin: 10px 0;
      text-transform: capitalize;
      display: flex;
      align-items: center;

      &:first-of-type {
        margin-top: 0;
      }

      &:last-of-type {
        color: red;
        // margin-top: 12px
      }
    }
    &--link {
      &:hover {
        // border-bottom: 1px solid black;
        text-decoration: underline;
      }
    }
    .position-arrows {
      margin-left: 8px;

      & > button:first-of-type {
        transform: rotate(90deg);
      }

      & > button:last-of-type {
        margin-left: 5px;
        transform: rotate(90deg);
      }
    }
  }
}

.carousels-container {
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.subcategories-carousel-container {
  display: none;
  @include tablette {
    display: block;
    width: 200px;
  }
}

.each-fade {
  &__images-container {
    display: flex;
    justify-content: space-around;
    &__image {
      background: red;
      height: auto;
      width: 200px;
      border-radius: 10px;
    }
  }
}
